.about {
    .about-info {
        margin: 0 0 27px 0;
        padding: 165px 50px 0 17px;
        background-repeat: no-repeat;
        background-size: 375px 156px;
        background-image: url("../img/about-info.jpg");

        @media (min-width: $desktop-width) {
            height: 332px;
            margin: 0 0 80px 0;
            padding: 0 20px 0 377px;
            background-size: 332px 332px;
        }

        .about-info-text {
            margin: 0;
            font-size: 18px;
            line-height: 22px;

            @media (min-width: $desktop-width) {
                font-size: 24px;
                line-height: 29px;
            }

            &:last-of-type {
                margin-top: 28px;

                @media (min-width: $desktop-width) {
                    margin-top: 22px;
                }
            }
        }
    }

    .topics-list {
        margin: 0;
        padding: 0;

        .topics-list-item {
            font-size: 18px;
            margin: 0 0 45px 0;
            padding: 0 10px 0 78px;

            line-height: 29px;
            background-size: 48px 48px;
            background-repeat: no-repeat;
            background-position: 17px 8px;
            background-image: url("../img/about-topic1.png");

            @media (min-width: $desktop-width) {
                margin: 0 0 53px 0;
                font-size: 24px;
                padding: 12px 0 12px 190px;
                background-size: 82px 82px;
            }

            &:last-of-type {
                margin: 0;
                background-image: url("../img/about-topic2.png");

                @media (min-width: $desktop-width) {
                    padding: 0 105px 0 190px;
                }
            }
        }
    }
}

.page-content-about {
    position: relative;
    width: 375px;
    margin: 0 auto 30px auto;

    @media (min-width: $desktop-width) {
        width: 1278px;
        margin: 0 auto 90px auto;
    }

    .main-headline {
        position: absolute;
        color: $white;

        top: 60px;
        left: 14px;

        @media (min-width: $desktop-width) {
            position: static;
            top: 0;
            left: 0;
            color: $bg-grey-31;
        }
    }
}
